
article {
    width: 30%;
    border: 1px solid lightblue;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}
h1.cardTitle {
    margin: 0;
    border: 1px dotted lightgray;
}
h2 {
	font-weight: bold;
}
p {
	text-align: left;
	text-indent: .8em;
	font-weight: bold;
	font-size: 1em;
  line-height: .3em;
}
.specs {
	text-align: left;
	text-indent: .2em;
}
.limits {
	text-align: left;

}
.desc {
    text-align: justify;
    line-height: 1em;
    text-indent: 0;
    padding: 0 .5em 0 .5em;
}
.avail {
    background-color: darkgrey;
    color: yellow;
    text-align: left;
    padding: 5px;
    line-height: 1em;
    text-indent: 0;
}
img {
    margin-top: 9px;
}








